<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/overlay.css" />
    <title>Document</title>
  </head>

  <body class="bg-dark">
    <div class="container">
      <div
        class="shadow-lg p-3 mb-5 bg-info rounded mt-5 row justify-content-center"
      >
        <p class="display-4 text-white font-weight-bold">
          Giochiamo a carta, forbice, sasso
        </p>
        <p class="display-5 text-white font-weight-bold">
          Ma qui si pensa in grande... Scegli una opzione sottostante
        </p>
        <div class="row justify-content-around">
          <a href="./game.html?mode=3">
            <div class="overlay-container" id="game-3">
              <img
                src="../assets/game-3.jpg"
                width="200"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="overlay-text">3 mosse</div>
              </div>
            </div>
          </a>

          <a href="./game.html?mode=5">
            <div class="overlay-container" id="game-5">
              <img
                src="../assets/game-5.jpg"
                width="200"
                alt="Avatar"
                class="image"
              />
              <div class="overlay">
                <div class="overlay-text">5 mosse</div>
              </div>
            </div>
          </a>

          <a href="./game.html?mode=9">
            <div class="overlay-container" id="game-9">
              <img src="../assets/game-9.jpg" alt="Avatar" class="image" />
              <div class="overlay">
                <div class="overlay-text">9 mosse</div>
              </div>
            </div>
          </a>

          <a href="./game.html?mode=15">
            <div class="overlay-container" id="game-15">
              <img src="../assets/game-15.jpg" alt="Avatar" class="image" />
              <div class="overlay">
                <div class="overlay-text">15 mosse</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>

  <script src="app.js"></script>
</html>
