<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body class="bg-dark">
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-info rounded mt-5">
        <p class="display-3 text-white fw-bold">
          Let's play rock, paper, scissors
        </p>
        <p class="display-5 text-white">
          But... At scale, choose one option below
        </p>
        <div class="row justify-content-around">
          <div class="overlay-container" id="game-3">
            <img
              src="./assets/game-3.jpg"
              width="200"
              alt="Avatar"
              class="image"
            />
            <div class="overlay">
              <div class="overlay-text">3 moves mode</div>
            </div>
          </div>

          <div class="overlay-container" id="game-5">
            <img
              src="./assets/game-5.jpg"
              width="200"
              alt="Avatar"
              class="image"
            />
            <div class="overlay">
              <div class="overlay-text">5 moves mode</div>
            </div>
          </div>

          <div class="overlay-container" id="game-9">
            <img src="./assets/game-9.jpg" alt="Avatar" class="image" />
            <div class="overlay">
              <div class="overlay-text">9 moves mode</div>
            </div>
          </div>

          <div class="overlay-container" id="game-15">
            <img src="./assets/game-15.jpg" alt="Avatar" class="image" />
            <div class="overlay">
              <div class="overlay-text">15 moves mode</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="app.js"></script>
</html>
